[submodule "axelor-open-suite"]
	path = modules/axelor-open-suite
	url = https://github.com/VictoriaP17/AERP-MOD.git
[submodule "modules"]
	path = modules
	url = https://github.com/VictoriaP17/AERP-MOD.git
